a{
	text-decoration: none;
	/* align-items: flex-end; */
	display: flex;
	color: black;
}
nav{
    background-color: white;

}
nav .container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
  }
  nav .container .right{
      display: flex;
  }
  nav .container .right .icon-div img{
      width: 25px;
      margin: 0;
      padding: 0;
  }
  nav .container .right .top-name{
      margin: auto 40px;
      font-size: large;
      font-weight: bold;
      width: 120px;
      /* overflow: hidden; */
      /* background-color: red; */
  }

  nav .container .right .top-name span{
      /* background-color: rosybrown; */
      max-width: 130px;
      overflow: hidden;
  }

  nav .container .group-icon-div{
      display: flex;
      /* justify-self: ; */
      float: right;
      /* background-color: red; */

  }
  nav .container .group-icon-div .icon-div img{
      width: 25px;
      margin: auto 5px;
  }

  .search-section {
      margin-top: 70px;
  }
  .search-section .search-div {
      width: 100%;
      padding: 20px;
  }

  .search-section .search-div input{
      display: block;
      width: 100%;
      background-color: #ddd;
      /* margin: 10px 10px; */
  }

  .chat-section .friend-div{
      margin-top: 20px;
  }

  .chat-section h3{
      /* color: #ddd; */
      margin: 0 20px;
  }

  .chat-section .friend-div .container, .right{
      display: flex;
      justify-content: space-between;
  }
  .chat-section .friend-div .right .profile-pix-div{
      background-color: #ddd;
      width: 60px;
      height: 60px;
      display: flex;
      /* align-items: center; */
      /* padding: auto; */
      overflow: hidden;
      border-radius: 50%;
  }
  .chat-section .friend-div .right .profile-pix-div img{
      margin: auto;
      width: 100%;
      /* filter: invert(); */
  }
  .chat-section .friend-div .right .profile-name{
      margin: auto 10px;
      /* color: red; */
      font-size: large;
      font-weight: bold;
  }
  .chat-section .friend-div .right .profile-name .sub{
    margin: auto 10px;
    /* color: red; */
    font-size: small;
    font-weight:lighter;
    color: #ddd;
  }
  .chat-section .friend-div .icon-div{
      /* background-color: tan; */
      /* margin-top: auto; */
      display: flex;
  }
  .chat-section .friend-div .icon-div img{
      /* background-color: red; */
      width: 30px;
			/* filter: invert(); */
      
  }



.chat-div{
	width: 100%;
	/* background-color: wheat; */
    display: flex;
    background-color: white;
	margin-bottom: 20px;
}
.chat-div .container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/* background-color: yellowgreen; */
	justify-content: space-around;
}
.chat-div .mic{
	background-color: rgb(21, 143, 225);
	padding: 10px;
	margin-bottom: 2px; 
	margin: auto 5px;
	border-radius: 500%;
	/* margin: auto; */
}
.chat-div .mic img{
	display: flex;
	margin: auto auto;
	filter: invert();
}
.chat-div .container .group-icon-div{
	display: flex;
	justify-content: space-around;
	margin: auto 0;
}
.chat-div .container .group-icon-div .icon-div{
	margin: 5px;
}


.chat-section{
	margin-top: 110px;
}
.chat-section .me{
/* background-color: #ddd; */
/* width: 50px; */
/* display: inline-flexbox; */
border-radius: 10px;
padding: 5px;
position: relative;
/* display: flex; */
}
.chat-section .me .chat{
	/* background-color: violet; */
	margin: 5px;
	padding: 2px;
	display: flex;
	/* position: absolute; */
}
.chat-section .me .chat span{
	background-color:#ddd;
	/* color: white; */
	padding: 5px;
	/* float: right; */
	border-radius: 10px;
	margin-left: auto;
	max-width: 400px;
}
.chat-section .you{
/* background-color: #ddd; */
/* width: 50px; */
/* display: inline-flexbox; */
border-radius: 10px;
padding: 5px;
position: relative;
/* display: flex; */
}
.chat-section .you .chat{
	/* background-color: violet; */
	margin: 5px;
	padding: 5px;
	display: flex;
	/* position: absolute; */
}
.chat-section .you .chat span{
	/* background-color: teal; */
	border: 1px solid #ddd;

	padding: 5px;
	float: left;
	border-radius: 10px;
	max-width: 400px;
	/* margin-left: auto; */
}


@media (min-width: 0px) and (max-width: 350px){
	nav .container .right{
		display: flex;
}
nav .container .right .icon-div img{
		width: 25px;
		margin: 0;
		padding: 0;
}
nav .container .right .top-name{
		margin: auto 40px;
		font-size: large;
		font-weight: bold;
		width: 100px;
		/* overflow: hidden; */
		/* background-color: red; */
}

nav .container .right .top-name span{
		/* background-color: rosybrown; */
		max-width: 100px;
		overflow: hidden;
}

nav .container .group-icon-div{
		display: flex;
		/* justify-self: ; */
		float: right;
		/* background-color: red; */

}
nav .container .group-icon-div .icon-div img{
		width: 20px;
		margin: auto 5px;
}
.chat-div .mic{
	background-color: rgb(21, 143, 225);
	padding: 5px;
	
	margin: auto 1px;
	border-radius: 500%;
	
}

.chat-div .container .group-icon-div .icon-div{
	margin: 1px;
}
.profile-pix-div{
	background-color: #ddd;
	width: 30px;
	height: 30px;
	display: flex;
	/* align-items: center; */
	/* padding: auto; */
	overflow: hidden;
	border-radius: 50%;
}
 .profile-pix-div img{
	margin: auto;
	width: 100%;
}
}

.profile-pix-div{
	background-color: #ddd;
	width: 40px;
	height: 40px;
	display: flex;
	/* align-items: center; */
	/* padding: auto; */
	overflow: hidden;
	border-radius: 50%;
}
 .profile-pix-div img{
	margin: auto;
	width: 100%;
}